<div class="container col-6 d-flex flex-column align-items-center justify-content-center">
  <div class="row">
    {{ textContent() }}
  </div>


  <div class="row my-5">
    @if (!isSpeaking()) {
      <button type="button" class="btn btn-primary" style="width: 115px;" (click)="speak()" [disabled]="textContent().length === 0">
        <i class="fas fa-volume-up"></i> Ouvir
      </button>
    }

      @if (isSpeaking()) {
        <button type="button" class="btn btn-primary" style="width: 115px;" (click)="stop()">
          <i class="fas fa-volume-mute"></i> Parar
        </button>
      }
  </div>
</div>