<app-navbar></app-navbar>

<div class="container mt-5 col-4 text-center">
  <p>Solte um arquivo em qualquer lugar para extrair seu conteúdo textual e gerar descrições de imagem.</p>
</div>

<div class="container mt-5 col-4">
  <div
  class="file-drop-zone"
  [class.dragover]="isDragOver"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)">
  <input
    type="file"
    multiple
    (change)="onFileSelect($event)"
    #fileInput
    style="display: none;">
  <button (click)="fileInput.click()">Selecione um arquivo
  </button>
</div>
</div>


<div class="container mt-5 col-4 text-center" *ngIf="files.length > 0">
  <h3>Arquivos selecionados:</h3>
  <div *ngFor="let file of files">
    {{ file.name }} ({{ file.size }} bytes)
  </div>
</div>
