.container p,
.container h3 {
  font-size: 1.5rem;         // aumenta o texto para leitura confortável
  line-height: 1.6;
  color: var(--text-color);               // alta legibilidade (altere conforme tema)
}

body {
  background-color: var(--primary-bg);
  color: var(--text-color);
}

.file-drop-zone {
  background-color: var(--drop-zone-bg);
  border: 0.125rem dashed var(--drop-zone-border);
  padding: 4rem 2rem;
  margin: 2rem auto;
  text-align: center;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  width: 100%;
  max-width: 87.5rem;
  min-height: 15.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.file-drop-zone.dragover {
  background-color: var(--drop-zone-hover);
  border-color: var(--accent-color);
}

.btn-primary {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  padding: 1rem 2rem;               /* aumenta o tamanho do botão */
  font-size: 1.25rem;               /* aumenta o tamanho da fonte */
  border-radius: 0.5rem;            /* arredondamento */
  min-width: 200px;                 /* largura mínima */
  cursor: pointer;                 /* cursor de ponteiro ao passar o mouse */
  transition: background-color 0.3s;
  font-weight: bold; 
  font-size: 1.5rem;              /* deixa a fonte mais destacada */
}


.btn-primary:hover {
  background-color: var(--button-hover);
}

.spinner-border.text-primary {
  color: var(--spinner-color) !important;
}
